*{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
}

body {
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.width-container {
    width: 65%;
    margin: 0 auto;
}

header {
    background-color: #f3f3f3;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    align-content: flex-start;
    flex:1;
    background-color: #e3e3e3;
}

.nav {
    align-content: flex-end;
    flex:4;
    text-align: right;
    background-color: #d3d3d3;
}

.main-content-container {
    background-color: #fff;
    /* flex: 1 0 auto; 
    is shorthand for the same as below*/
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.inner-main-content-container {
    display: flex;
    flex-direction: row;
}

.article-content-container {
    background-color: #f6f6f6;
    flex: 4;
}

.aside-container {
    background-color: #e3e3e3;
    flex: 1;
}

footer {
    flex-shrink: 0;
    background-color: #f3f3f3;
}

.footer-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-widget {
    flex-basis: 30%;
    background-color: #d3d3d3;

}

@media (max-width: 900px) {
    .nav-container,
    .inner-main-content-container,
    .footer-content-container {   
      flex-direction: column;
    }
  }